<div class="profile_panel fb_blue-border">
    <div class="profile_panel_header fb_blue-background white-text">
        <h1>Incomplete Forms</h1><br><br>
    </div>
    <div class="profile_panel_content">
        <div class="w3-row">
            <div class="">
                <h3 class="w3-margin-left w3-margin-top negative-margin-bottom-10">{{model.template.templateName}}</h3>
                <hr>
                <form>
                    <ul style="list-style:none">
                      {{#each model.template.templateFields as |templateField|}}

                          <li class=" w3-col s4 m4 l4 ">
                              <label  class="float-right w3-padding-16" for="{{templateField.field.fieldName}}">{{templateField.field.fieldName}}</label>
                          </li>
                          <li class=" w3-col s8 m8 l8">
                            {{user-fieldname-parser user=model.recipientUser field=templateField.field}}
                          </li>
                      {{/each}}
                    </ul>
                    <div class="w3-col s12 m12 l12">
                        <button class="button-green float-right margin-20px" {{action "saveSubmissions" model}}>Submit Form</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>