
<div class="w3-row">
  <div class="w3-col l4">
    <h4>New Template</h4>
    

    {{field-drag-drop}}
    {{#fields-list}}

    {{/fields-list}}
    
  </div>

  <div class="w3-col l8">
    
    <h4>Template</h4>
    <br>
    {{field-drag-drop-zone}}

    <br>
    <br>
    <br>
    

    <label for="templateName">Template Name (required): </label>{{input value=model.templateName min="3" maxlength="50" required="true" name="templateName" type="text"}}
    <h4>Here's the templateName: {{model.templateName}}</h4>
    <button {{action 'createTemplate' model}}>Create Template (WIP)</button>

  </div>
</div>