<h5>Template Show page here</h5>

<div class="w3-row">
    <div class="w3-col s9 m9 l9">
      {{!ember-progress-bar}}
      {{!ember-progress-bar useDefaultStep=true}}
        <!--<div class="w3 col 100px-height">-->
        <!--{{!ember-progress-bar  progress=".5"}}-->
        <!--<br>-->
        <!--{{!ember-progress-bar  progress=".25" options=(hash strokeWidth=5 duration=1000 trailColor='#c1c1c1' color='#336633')}}-->
        <!--</div>-->
<div class="white_background w3-card-2 w3-col s8 m8 l11">
        <h3 class="w3-margin-left w3-margin-top negative-margin-bottom-10"><span>{{model.templateName}}</span></h3>
    <hr>
        <ul style="list-style:none">
          {{#each model.templateFields as |templateField|}}
              <li>
                  <label for="{{templateField.field.fieldName}}">{{templateField.field.fieldName}}</label>
                  <br>
                  {{input type="text" name=templateField.field.fieldName }}

              </li>

          {{/each}}

        </ul>

    </div>
    </div>
    <div class="w3-col s3 m3 l3">
      {{#link-to 'template-show.send-template'}}<button class="w3-btn">Send Template</button>{{/link-to}}

      {{#tooltip-on-element}}
          Here is the info in a tooltip!
      {{/tooltip-on-element}}

    </div>
</div>

<div class="w3-row">{{outlet}}</div>