<h4>Template Show page here</h4>

<div class="w3-row">
    <div class="w3-col s9 m9 l9">
        <b>Template Name:</b>{{model.templateName}}
        <ul style="list-style:none">
          {{#each model.templateFields as |templateField|}}
              <li>
                  <label for="{{templateField.field.fieldName}}">{{templateField.field.fieldName}}</label>

                {{input type="text" name=templateField.field.fieldName }}
              </li>

          {{/each}}

        </ul>
        <!--form builder ember addon testing-->

      {{#form-builder for=this action="submit" as |f|}}
        <ul>
        {{#each model.templateFields as |templateField|}}
            <!--<li>What the add on requires-->
          <!--{{!f.input "title"}}-->
            <!--</li>-->
            <!--<li>Trying varible entry in place of 'title'- takes as literal string-->
          <!--{{!f.input "templateField.field.fieldName"}}-->
            <!--</li>-->
            <!--<li>Trying varible entry in place of 'title' without quotes - error<br>-->
             <!--83399: Uncaught TypeError: Cannot read property 'match' of null-->
            <!--{{!f.input templateField.field.fieldName}}</li>-->
          <li>
              <!--concatenation (concat 'add-item-' title)-->
            {{f.input (concat '' templateField.field.fieldName)}}</li>
        {{/each}}
        </ul>

        {{f.submit}}

      {{/form-builder}}

    </div>
    <div class="w3-col s3 m3 l3">
      {{#link-to 'template-show.send-template'}}<button class="w3-btn">Send Template</button>{{/link-to}}
    </div>
</div>

<div class="w3-row">{{outlet}}</div>