<h4>Template Show page here</h4>

<div class="w3-row">
    <div class="w3-col s9 m9 l9">
      {{!ember-progress-bar}}
      {{!ember-progress-bar useDefaultStep=true}}
        <!--<div class="w3 col 100px-height">-->
        <!--{{!ember-progress-bar  progress=".5"}}-->
        <!--<br>-->
        <!--{{!ember-progress-bar  progress=".25" options=(hash strokeWidth=5 duration=1000 trailColor='#c1c1c1' color='#336633')}}-->
        <!--</div>-->
<div class="white_background w3-card-2 w3-col s8 m8 l10">
        <h1>{{model.templateName}}</h1>
    <hr>
        <ul style="list-style:none">
          {{#each model.templateFields as |templateField|}}
              <li>
                  <label for="{{templateField.field.fieldName}}">{{templateField.field.fieldName}}</label>

                {{#if (eq templateField.field.id '4')}}
                  {{input type="checkbox" name=templateField.field.fieldname}}
                {{else}}
                  <div class="we-col s1 m1 l1">
                  {{input type="text" name=templateField.field.fieldName }} {{templateField.field.id}}
                  </div>
                {{/if}}
              </li>

          {{/each}}

        </ul>

    </div>
    </div>
    <div class="w3-col s3 m3 l3">
      {{#link-to 'template-show.send-template'}}<button class="w3-btn">Send Template</button>{{/link-to}}

      {{#tooltip-on-element}}
          Here is the info in a tooltip!
      {{/tooltip-on-element}}

    </div>
</div>

<div class="w3-row">{{outlet}}</div>